
<h1 class="red-text center-align">Memory</h1>

<div class="row">
  <div class="boxes col s2 offset-s2 ">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>
