<div class="blue">
  <h1 class="text-shadow center-align">Memory</h1>
</div>   
<!-- <div class="center-align">
  <%= image_tag("symbol_1.png", :alt => "1", :class => "image-card") %>
  <%= image_tag("symbol_1.png", :alt => "1", :class => "image-card") %>
  <%= image_tag("symbol_1.png", :alt => "1", :class => "image-card") %>
  <%= image_tag("symbol_1.png", :alt => "1", :class => "image-card") %>
</div> -->
<div class="row">
  <div class="image-card">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>

<div class="row">
  <div class="boxes col s2 offset-s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2">
    <h1 class="hide_text">2</h1>
  </div>
</div>
