<div class="blue z-depth-1">
  <h1 class="text-shadow center-align ">Memory</h1>
  <h4 class="text-shadow center-align ">find the matching numbers</h4>
</div>   
<div class="row">
  <div class="boxes col s2 offset-s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
</div>
<div class="row">
  <div class="boxes col s2 offset-s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
</div>
<div class="row">
  <div class="boxes col s2 offset-s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
</div>
<div class="row">
  <div class="boxes col s2 offset-s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">1</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
  <div class="boxes col s2 z-depth-2">
    <h1 class="hide_text">2</h1>
  </div>
</div>